# Rename this file to .env and fill in your values
TRACKER_USER=admin
TRACKER_PASSWORD=change_me
TRACKER_ADMIN_PASSWORD=change_me_too

# Use this if you will tunnel using Cloudflare
SECRET_BASE_URL=/finance_tracker 

# Dropdown Options (comma-separated)
PAYMENT_SOURCES=Cash,Venmo,Zelle,Check
EXPENSE_ACCOUNTS=Business Checking,Personal Card,Cash
